nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem 6rem;
}

.site-icon {
  max-height: 40px;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
}

nav li {
  list-style: none;
  padding-left: 5rem;
  text-transform: uppercase;
  font-weight: 700;
}

nav li a {
  text-decoration: none;
}
