body {
  width: 100%
}

#page-wrapper {
  padding: 0% 5%;
  max-width: 1400px;
}

header {
  position: sticky;
  top: 0px;
  background-color: #ffffff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
}

.site-icon {
  max-height: 40px;
}

.nav-link-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
}

nav li {
  list-style: none;
  /* padding-left: 5rem; */
  text-transform: uppercase;
  font-weight: 700;
}

nav a {
  text-decoration: none;
  padding: .75rem 2rem;
}
/* 
nav a:active {
  border: 1px solid black;
} */

.current {
  border: 1px solid black;
}